@model satelitesarecool.Models.Photo

@{
    ViewData["Title"] = "Curiosity";
}

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Curiosity" asp-action="Image" method="get">
            <p style="color: black;">
                <span class="font-weight-bold">Number of sol:</span> <input class="form-control" type="text" name="solNumber">
                <span class="font-weight-bold">Number of photo::</span> <input class="form-control" type="text" name="number">
                <br/>
                <input class="btn btn-primary" type="submit" value="Get Image!"/>
            </p>
        </form>
    </div>
</div>
<div>
        <h3 class="font-weight-bold">Curiosity</h3>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sol)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sol)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EarthDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EarthDate)
            </dd>
            <dd class="col-sm-10">
                <img class="img-fluid" src="@Html.DisplayFor(model => model.img_src)" alt="@Html.DisplayFor(model => model.EarthDate)" />
            </dd>
        </dl>
        <h3 class="font-weight-bold">Rover</h3>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rover.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rover.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rover.landing_date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rover.landing_date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rover.launch_date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rover.launch_date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rover.max_sol)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rover.max_sol)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rover.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rover.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rover.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rover.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rover.total_photos)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rover.total_photos)
            </dd>
        </dl>
    </div>
